<h1>Thank you for your order!</h1>
<h2>Order Details</h2>

<ul>
    <% @line_items.each do |item| %>
    <% @ticket_type = TicketType.find(item.ticket_type_id) %>
        <li>
            <span># of <b><%= @ticket_type.category %></b> tickets: <%= item.quantity %></span>
            <span>subtotal: <%= number_to_currency(item.total_amount) %></span>
        </li>
    <% end %>
</ul>

<div>Total amount: <%= @order.total_amount %></div>
